body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.section {
    padding: 0 20%;
}

#section1 {
    padding-top: 10px;
    background-color: #B9CDBC;
    position: relative;
}

#section1 img {
    vertical-align: middle;
}

#section1 .title {
    font-size: 32px;
    vertical-align: middle;
}

#section1 .links {
    float: right;
    margin-top: 30px;
    margin-right: 40px;
}



#section1 .screenshot {
    margin-top: 30px;
    text-align: center;
}

#section1 .screenshot img{
    width: 90%;
    max-width: 792px;
}

#section2 {
    background-color: #879B89;
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 32px;
    text-align: center;
}

#section3 {
    background-color: #ffffff;
    padding-top: 20px;

}

#section3 .icons {
    text-align: center;
}

#section3 .icon {
    width: 22%;
    display: inline-block;
    padding: 5%;
    vertical-align: top;
}

#section3 .icon img {
    width: 90%;
    margin-bottom: 20px;
}

#section3 .icon .text {
    font-size: 18px;
}


#section4 {
    background-color: #879B89;

}

#section4 .pill{
    width: 22%;
    padding: 5%;
    display: inline-block;
    vertical-align: top;
    word-break:break-all;
}

#section4 .pill .title{
    font-size: 20px;
}

#section4 .pill .text{
    font-size: 16px;
    margin-top: 5px;
}

#section5 {
    background-color: #ffffff;
    padding-top: 30px;

}

#section5 .links{
    width: 49%;
    display: inline-block;
    vertical-align: top;
}
#section5 .kaleidos img{
    width: 80%;
    max-width: 360px;
}

#section5 .title{
    color: #959aa0;
    font-size: 14px;
}



#section5 li{
    list-style-type: none;
}

#section5 a{
    text-decoration: none;
    color: #879B89;
}

.footer {
    margin: 50px 0 10px 0;
    text-align: center;
    background-color: #ffffff;
    font-size: 12px;
}

.footer a {
    text-decoration: none;
    color: #879B89;
}


.btn {
    text-decoration: none;
    font-family: arial;
    font-weight: bold;

    color: #ffffff !important;
    font-size: 18px;
    padding: 10px 25px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;

    background: #2c6533;
}

@media screen and (max-width: 1024px) {

    #section1 .title {
        width:100%;
    }

    #section1 .links {
        width:100%;
        margin: 0;
        text-align: center;
        float:none;
        margin: 20px 0 0 0;
    }
}

@media screen and (max-width: 480px) {
    #section1 .title {
        width:100%;
        font-size: 20px;
    }


    #section4 .pill{
        width: 90%;
    }

    #section5 .links{
        width: 100%;
        margin-bottom: 50px;
    }

    .section {
        padding: 0;
    }
}
